.contact {
  padding: 100px 0 150px 0;
  margin: 0 auto;
  height: 400px;
}
.container {
  padding: 0 100px 0 100px;
  text-align: center;
}
.container h1 {
  letter-spacing: 5px;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.container h4 {
  margin-block-start: 0;
  margin-block-end: 50px;
  font-weight: normal;
}
.icons {
  padding:100px 0 100px 0;
}
.icon {
  margin: 100px;
  color: initial;
  opacity: 0.8;
}
