/* 全体 */
.contact {
  padding: 100px 0 100px 0;
  margin: 0 auto;
  height: 500px;
}
.container {
  padding: 0 300px 0 300px;
  text-align: center;
}
.container h1 {
  letter-spacing: 5px;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.container h4 {
  margin-block-start: 0;
  margin-block-end: 50px;
  font-weight: normal;
}
.icons {
  padding: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  float: left;
  flex: auto;
  width: 50%;
  color: initial;
  opacity: 0.8;
}

/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  .container {
    padding: 0 50px;
  }
}

/* スマートフォン向けレイアウト */
@media (max-width: 670px) {
  .container h1 {
    letter-spacing: 2px;
    font-size: 22px;
  }
  .container h4 {
    font-size: 12px;
  }
  .workswrapper {
    height: 1000px;
  }
  .heading h4 {
    margin-block-end: 25px;
  }
  .work {
    width: 100%;
    margin: 25px 0;
  }
  .icon {
    width: 50%;
  }
}
