/* 全体 */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
ul {
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: 100%;
  padding: 0 20%;
}

/* ヘッダー */
.header {
  background-color: rgba(255, 255, 255);
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.fixed {
  background-color: rgba(255, 255, 255);
  text-align: center;
  font-size: 20px;
  width: 100%;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
}
.header .nav {
  text-decoration: none;
  font-size: 20px;
  color: black;
  opacity: 0.8;
  padding: 20px 30px;
  transition: all 0.4s;

  float: left;
  flex: auto;
  width: 25%;
}
.header .nav:hover {
  opacity: 0.6;
  background-color: black;
  color: #f7f7f7;
}

/* フッダー */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0 0 20px 0;
  opacity: 0.9;
}
.footer .nav {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  transition: all 0.4s;
  opacity: 0.8;
}
.footer .nav:hover {
  opacity: 0.6;
  background-color: #f7f7f7;
  color: black;
}
.footer p {
  opacity: 0.5;
  font-size: 5px;
  display: block;
  margin-block-start: 30px;
  margin-block-end: 0;
}

/* ページトップ */
.topwrapper {
  background-image: url(../../images/notebook-1284085_1920.jpg);
  background-size: cover;
  padding: 150px 100px 150px 100px;
  text-align: center;
  display: table;
  color: #f7f7f7;
  height: 700px;
  width: 100%;
}
.container {
  display: table-cell;
  vertical-align: middle;
}
.topwrapper h1 {
  font-size: 64px;
  letter-spacing: 15px;
  opacity: 0.8;
}
.topwrapper p {
  font-size: 20px;
  letter-spacing: 5px;
  opacity: 0.8;
}

/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  /* ページトップ */
  .topwrapper {
    height: 1000px;
    width: 100%;
  }
  .topwrapper h1 {
    font-size: 64px;
  }
  .topwrapper p {
    font-size: 20px;
  }
  /* ヘッダー */
  ul{
    padding:0;
  }
  .header .nav {
    font-size:15px;
    padding: 10px 15px;
    width:25%;
  }
}

/* スマートフォン向けレイアウト */
@media (max-width: 670px) {
  /* ページトップ */
  .topwrapper {
    height: 700px;
    width: 100%;
    padding: 0;
  }
  .topwrapper h1 {
    font-size: 32px;
  }
  .topwrapper p {
    font-size: 15px;
  }
  /* ヘッダー */
  ul{
    padding:0;
  }
  .header .nav {
    font-size:15px;
    padding: 10px 15px;
    width:50%;
  }
}
